.container{
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: space-around;
}

.allblock{
    height: 300px;
}

.blackBlock{
    order: 3;
    flex-grow: 3;
    background-color: black;
}

.greenBlock{
  align-self: auto;  
  order: 1;
  flex-grow: 1;
  background-color: green;
}

.blueBlock{
    
    order: 1;
    flex-grow: 2 ;
    background-color: blue;
}